@import url("base.css");


/*

#basicContent .panel-body .row >div {
    text-align: center;
}

#basicContent .panel-body .row >div img {
    margin: auto;
}


#wikiAdmin .panel-body .row >div {
    text-align: center;
}

#wikiAdmin .panel-body .row >div img {
    margin: auto;
}
*/